{% extends 'base.html.twig' %}

{% block title %}Liste de naissance{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="flex align-center content-center justify-center h-screen">
    <twig:Card class=" w-full sm:w-2xl h-96 mt-20 p-12">
    <twig:Card:Header>
        <twig:Card:Title class="text-center text-2xl">Bienvenue sur notre liste de naissance !</twig:Card:Title>
        <twig:Card:Description></twig:Card:Description>
    </twig:Card:Header>
    <twig:Card:Content class="sm:mt-15">
    <div class="flex flex-col align-center content-center justify-center w-full border-2 border-gray-300 rounded-lg p-4 text-center">
        <p class="text-lg italic">Où en sommes-nous </p>
        <p> Semaine de grossesse : <span class="font-bold">15 semaines</span> </p>
        <p> Taille du bébé : <span class="font-bold">10 cm</span> </p>
        </div>
    </twig:Card:Content>
    <twig:Card:Footer class="">
        <div class="flex align-center content-center justify-center w-full">
            <twig:Button variant="outline">Voir les articles</twig:Button>
            <twig:Button variant="outline" class="ml-4"> <twig:ux:icon name="ph:gender-female" />Connaître le sexe du bébé <twig:ux:icon name="ph:gender-male" /> </twig:Button>
        </div>
    </twig:Card:Footer>
</twig:Card>
</div>
{% endblock %}
