{% extends 'base.html.twig' %}

{% block title %}Liste de naissance
{% endblock %}

{% block body %}
	<turbo-frame id="articles-list">
		<div class="mx-2 my-2">
			{% include 'birthlist/partials/_filters.html.twig' with {
      		categories: categories
    	} %}
		</div>
		<div class="mx-2">

			{% include 'birthlist/partials/_articles.html.twig' with {
				articles: articles,
				categories: categories
			} %}

		</div>
	</turbo-frame>
{% endblock %}
