<!DOCTYPE html>
<html class="overflow-y-scroll">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Liste de naissance| Bébé à bord
			 
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('icons/bebe.ico') }}" type="image/x-icon">
		
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	{% include 'home/_menu.html.twig' %}
	<body class="min-h-screen bg-clouds overflow-x-hidden"> {% block body %}{% endblock %}
		</body>
	</html>
