{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<style>
</style>

<div class="administration">
<twig:Header></twig:Header>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/app/src/Controller/GestionController.php</code></li>
        <li>Your template at <code>/app/templates/gestion/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
