{% extends 'base.html.twig' %}

{% block title %} Administration | Modifier article {% endblock %}

{% block body %}

    <div class="flex items-center justify-center">
		<div class="flex flex-col">
			{{ form_start(form,{ attr: { enctype: 'multipart/form-data' }})}}
			{% include 'article/_form.html.twig' %}
			{{ form_end(form,{ render_rest: false }) }}
			<twig:BackLink href="{{ path('articles_list') }}" label="Retour à la liste des articles"/>
		</div>

	</div>
{% endblock %}