{% extends 'base.html.twig' %}

{% block title %}Administration | Nouvel article
{% endblock %}

{% block body %}

	<div class="flex items-center justify-center">
		<div class="flex flex-col">
			{{ form_start(form,{ attr: { enctype: 'multipart/form-data' }})}}
			{% include 'article/_form.html.twig' %}
			{{ form_end(form,{ render_rest: false }) }}			
		</div>

	</div>

{% endblock %}
